<div class="page-header">
  <h1>Add Favorite</h1>
</div>

<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_favorite" class="form-horizontal">

  <!-- Label and input for user_id -->
  <div class="form-group">

    <div class="col-sm-10">

      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

    </div>

  </div>


  <!-- Label and input for article_id -->
  <div class="form-group">

    <label for="article_id" class="col-sm-2 control-label">
      Article
    </label>
    <div class="col-sm-10">

      <input type="text" id="article_id" name="article_id" placeholder="Article" class="form-control" value="<%= @favorite.article_id %>">

    </div>

  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Favorite" class="btn btn-primary">
    </div>
  </div>
</form>
