<div class="page-header">
  <h1>Comment #<%= @comment.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Content</dt>
  <dd><%= @comment.content %></dd>


  <dt>Article</dt>
  <dd><%= @comment.article_id %></dd>


  <dt>User</dt>
  <dd><%= @comment.user_id %></dd>


</dl>
